.custom-button {
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    padding: 3px 7px;
    color: #3d3b3b;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
}

.custom-button:hover {
    background-color: #fff;
    color: #2229e4;
    cursor: pointer;
}

.custom-table {
    margin: 0;
}

.custom-border {
    margin: 7px;
    border: 1px solid #a49e9e !important;
}

.custom-bordered {
    border: 1px solid #d5cbcb !important;
}

.btn-novo-cliente {
    margin-right: 5px;
}