/* Header.css */
.navbar-nav {
    margin-right: 50px;
    margin-left: auto;
    padding: 7px;
}

.navbar-custom {
    background-color: #333333;
    position: relative;
    width: 100%;
    padding-left: 8px;
}

.navbar-custom .container {
    max-width: 1600px;
}

.navbar-custom .nav-link {
    margin-right: 10px;
}

.navbar-toggle {
    margin-left: 20px !important;
}

.navbar-custom .nav-item .nav-link:hover {
    color: #fff;
}

/* Navigation.css */
.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:focus {
    color: #ffffff;
}

.navbar-custom .nav-item .dropdown-menu {
    background-color: #fff;
}

.navbar-custom .nav-item .dropdown-menu a:hover{
    color: #fff;
    background-color: #333;
}

.navbar-custom .nav-item .nav-link:focus,
.navbar-custom .nav-item .nav-link:active {
    color: #fff !important;
}

.nav-link.active {
    background-color: #0c6e03;
    border-radius: 3px;
}

.navbar-custom .dropdown-item.active,
.navbar-custom .dropdown-item:active {
    background-color: #0c6e03 !important;
}
